* {
    margin: 0;
    padding: 0;
    color: inherit;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}


body {
    font-family: "Montserrat", sans-serif;

}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}


.top {
    height: 1024px;
    background-image: url(img/top.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column; 
}


.top_title {
    max-width: 789px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    color: #FFFFFF;
    padding-top: 217px;
}

.top_text {
    max-width: 481px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 32px;
}
.top_button{
    background: #9C0332;
    border: 1px solid #9c0332;
    box-sizing: border-box;
    border-radius: 30px;
    width: 234px;
    height: 49px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 44px;
    transition: all 0.5s;
}
.top_button:hover {
    background-color: #EB443F;
    border: 1px solid #EB443F;
    cursor: pointer;
}

.bottom {
    height: 556px;
    background-image: url(./img/bottom.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    padding-top: 128px;
}

.bottom__card-1 {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/game_1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 379px;
    height: 300px;
    border-radius: 16px;
}

.bottom__card-2 {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/game_2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 379px;
    height: 300px;
    border-radius: 16px;
}

.bottom__card-3 {
    background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(./img/game_3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 379px;
    height: 300px;
    border-radius: 16px;
}


.bottom__text {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 237px;
    margin-left: 32px;
}

.footer {
    height: 800px;
    padding-top: 282px;
    background-image: url(./img/footer.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer__title {
    max-width: 377px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
}

.footer__text {
    max-width: 584px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    margin-top: 32px;
}

.footer__button {
    background: #9C0332;
    border: 1px solid #9c0332;
    box-sizing: border-box;
    border-radius: 30px;
    width: 234px;
    height: 49px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 44px;
    transition: all 0.5s;
}

.footer__button:hover {
    background-color: #EB443F;
    border: 1px solid #EB443F;
    cursor: pointer;
}


.footer__icon{
    padding-top: 25px;
}



/* Мобильная версия сайта */
@media (max-width: 1140px) {
    .top {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top_title{
        display: flex;
        align-items: center;
        text-align: center;
    }

    .bottom {
        height: 1221px;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        row-gap: 32px;
    }

    .footer{
        padding-top: 178px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .footer__bar{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__title{
        max-width: 377px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        color: #FFFFFF;
        
    }


    .footer__icon{
        max-width: 344px;
        padding-top: 64px;
    }
}

@media (max-width: 400px) {
    .bottom__card-1 {
        width: 343px;
    }

    .bottom__card-2 {
        width: 343px;
    }

    .bottom__card-3 {
        width: 343px;
    }

    .top {
        align-items: center;
    }


    .top_title {
        padding-top: 239px;
        max-width: 343px;
        height: 78px;
        font-family: 'Montserrat';
        font-style: normal;
        font-size: 32px;
        line-height: 39px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .top_text {
        max-width: 343px;
        height: 66px;
        padding-top: 32px;
        padding-bottom: 32px;
        font-size: 14px;
        line-height: 22px;
        align-items: center;
        text-align: center;
    }
    

    .footer{ 
        padding-top: 178px;
        display: flex;
        align-items: center;
        text-align: center;

    }

    .footer__title{
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        padding-left: 66px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .footer__text{
        font-weight: 300;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        align-items: center;
        text-align: center;
    }
    

    .footer__icon{
        max-width: 344px;
        padding-top: 64px;
        padding-bottom: 84px;
    }

}